html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset, a img { border: none; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

div, input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
table { border-spacing: 0; border-collapse: collapse; width: 100%; }

input.error, textarea.error { box-shadow: inset 0 0 10px red !important; }

label.error { display: none !important; }

.icon { display: inline-block; position: relative; }

body { font-size: 14px; line-height: 1.4; background-color: #fff; color: #4b4b4b; font-family: "arial"; font-weight: normal; font-style: normal; }

.out { position: relative; }

input:-ms-input-placeholder, textarea:-ms-input-placeholder { font-size: 12px; color: #d4d4d8; font-family: "arial"; font-weight: normal; font-style: normal; }
input:-moz-placeholder, textarea:-moz-placeholder { font-size: 12px; color: #d4d4d8; font-family: "arial"; font-weight: normal; font-style: normal; }
input::-moz-placeholder, textarea::-moz-placeholder { font-size: 12px; color: #d4d4d8; font-family: "arial"; font-weight: normal; font-style: normal; }
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { font-size: 12px; color: #d4d4d8; font-family: "arial"; font-weight: normal; font-style: normal; }
input::placeholder, textarea::placeholder { font-size: 12px; color: #d4d4d8; font-family: "arial"; font-weight: normal; font-style: normal; }

.formW .form_in, .top .top_in, header .header_in, .attention .attention_in, .manual .manual_in, .also .also_in, .reviews .reviews_in { max-width: 1200px; width: 1000px; margin-left: auto; margin-right: auto; }

.myFancyClose { position: absolute; top: 14px; right: 14px; }

.btn { display: inline-block; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; text-decoration: none; padding: 10px 20px; -moz-transition: background, 0.5s; -o-transition: background, 0.5s; -webkit-transition: background, 0.5s; transition: background, 0.5s; }

.title { font-size: 32px; color: #ffffff; font-family: "arimobold"; font-weight: normal; font-style: normal; text-align: center; text-transform: uppercase; }

.counter { width: 350px; margin: auto auto 0; display: block; text-align: center; position: absolute; top: -26px; left: -19px; }
.counter p { margin-bottom: 5px; position: static; font-family: "arial"; font-weight: normal; font-style: normal; font-size: 14px; margin-top: 22px; color: #ffffff; font-family: "arimoregular"; font-weight: normal; font-style: normal; text-shadow: 0px 0px 1px #aaa; }
.counter p.counterTitle { font-size: 14px; text-align: center; margin-top: 30px; margin-bottom: 20px; }
.counter ul { list-style: none; margin: 0; padding: 0; display: inline-block; }
.counter ul li { float: left; text-align: center; position: relative; background: url(../img/counter_bg.png) no-repeat; width: 120px; height: 141px; margin-left: -5px; padding-top: 30px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.counter ul li:first-child { margin-left: 0; }
.counter ul li span { font-size: 53px; color: #ffffff; font-family: "arimobold"; font-weight: normal; font-style: normal; text-shadow: 0px 0px 1px #aaa; line-height: 1em; -moz-background-clip: padding; -o-background-clip: padding-box; -webkit-background-clip: padding; background-clip: padding-box; box-sizing: border-box; }

.formW .form_in { width: 805px !important; *zoom: 1; }
.formW .form_in:after { content: " "; display: table; clear: both; }

.input_back { background: #f4ede7; padding: 17px; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; float: left; }
.input_back input { border: 1px solid #fff; -moz-box-shadow: inset 2px 4px 3px rgba(0, 0, 0, 0.22); -webkit-box-shadow: inset 2px 4px 3px rgba(0, 0, 0, 0.22); box-shadow: inset 2px 4px 3px rgba(0, 0, 0, 0.22); -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; width: 280px; height: 35px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; padding-left: 12px; margin-right: 10px; }
.input_back input:last-child { margin-right: 0; }

.button__out { position: relative; height: 77px; width: 254px; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; background: #ee371c; }

.button { text-align: center; position: relative; -moz-box-shadow: 0 2px 7px rgba(0, 0, 0, 0.72), inset 0 1px 0 rgba(255, 255, 255, 0.53); -webkit-box-shadow: 0 2px 7px rgba(0, 0, 0, 0.72), inset 0 1px 0 rgba(255, 255, 255, 0.53); box-shadow: 0 2px 7px rgba(0, 0, 0, 0.72), inset 0 1px 0 rgba(255, 255, 255, 0.53); background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmNmUzYiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmNGMyOSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='); background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ff6e3b), color-stop(100%, #ff4c29)); background: -moz-linear-gradient(#ff6e3b, #ff4c29); background: -webkit-linear-gradient(#ff6e3b, #ff4c29); background: linear-gradient(#ff6e3b, #ff4c29); height: 67px; top: 5px; left: -5px; width: 264px; font-size: 20px; text-transform: uppercase; font-family: "opensanssemiboldregular"; color: #ffffff; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; padding-top: 20px; }
.button:hover { background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmNGMyOSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmNmUzYiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='); background-size: 100%; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ff4c29), color-stop(100%, #ff6e3b)); background-image: -moz-linear-gradient(#ff4c29, #ff6e3b); background-image: -webkit-linear-gradient(#ff4c29, #ff6e3b); background-image: linear-gradient(#ff4c29, #ff6e3b); }
.button:active { -moz-box-shadow: 0 0 0 0; -webkit-box-shadow: 0 0 0 0; box-shadow: 0 0 0 0; }

.button__out--center { display: inline-block; }

.prev { position: absolute; content: ""; top: 44%; left: -52px; background: black; width: 40px; height: 40px; -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%; padding-left: 13px; padding-top: 11px; box-sizing: border-box; cursor: pointer; z-index: 1; }
.prev:hover { background: #f61818; }

.next { position: absolute; content: ""; top: 44%; right: -33px; background: rgba(0, 0, 0, 0.8); width: 40px; height: 40px; -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%; padding-left: 15px; padding-top: 11px; box-sizing: border-box; cursor: pointer; z-index: 1; }
.next:hover { background: rgba(246, 24, 24, 0.8); }

.l { *zoom: 1; }
.l:after { content: " "; display: table; clear: both; }
.l .l-col1 { float: left; width: 20%; }
.l .l-col2 { float: right; width: 70%; }

.top { height: 50px; background: url(../img/top_bg.png) no-repeat; position: fixed; width: 100%; z-index: 999; top: 0; bottom: auto; left: 0; }
.top .top_in { *zoom: 1; }
.top .top_in:after { content: " "; display: table; clear: both; }
.top nav { float: left; }
.top nav ul { font-size: 12px; padding: 0; }
.top nav ul li { display: inline-block; position: relative; font-family: "arimoregular"; font-weight: normal; font-style: normal; float: left; padding: 0; color: #dfdfdf; line-height: 1em; text-transform: uppercase; border-right: 1px solid rgba(182, 57, 15, 0.2); border-left: 1px solid rgba(82, 24, 6, 0.2); }
.top nav ul li:last-child:before { position: absolute; content: ""; right: -2px; border-right: 1px solid rgba(82, 24, 6, 0.2); top: 0; height: 100%; }
.top nav ul li:first-child:before { position: absolute; content: ""; left: -2px; border-right: 1px solid rgba(182, 57, 15, 0.2); top: 0; height: 100%; }
.top nav ul li a { display: block; line-height: 50px; height: 50px; padding: 0 33px; }
.top nav ul li.is-active { background: rgba(0, 0, 0, 0.18); color: #ffffff; }
.top nav ul li:hover { background: rgba(0, 0, 0, 0.18); color: #ffffff; }
.top nav ul li a { text-decoration: none; color: inherit; }

header { background: url(../img/header_bg.jpg) center no-repeat; -moz-background-size: cover 100%; -webkit-background-size: cover 100%; background-size: cover 100%; height: 966px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; margin-top: 50px; }
header .header_in { *zoom: 1; position: relative; }
header .header_in:after { content: " "; display: table; clear: both; }
header .header_title { *zoom: 1; border-bottom: solid 1px rgba(255, 255, 255, 0.2); padding-bottom: 20px; }
header .header_title:after { content: " "; display: table; clear: both; }
header .header_title .title_logo { float: left; color: #fafafa; border-right: solid 1px rgba(255, 255, 255, 0.2); padding-right: 45px; margin-top: 35px; }
header .header_title .title_logo .logo_main { font-size: 45px; font-family: "archiveregular"; line-height: 1em; margin-top: -15px; font-family: "opensanslightregular"; font-weight: normal; font-style: normal; }
header .header_title .title_logo span { font-size: 52px; display: block; line-height: 0.8em; text-transform: uppercase; font-family: "OpenSansExtraboldItalic"; font-style: italic; }
header .header_title .title_about { display: inline-block; font-family: "arimoregular"; font-weight: normal; font-style: normal; float: left; margin-left: 40px; width: 150px; font-size: 14px; color: #ffffff; margin-top: 55px; }
header .header_title .title_address { margin-top: 35px; float: right; }
header .header_title .title_address .title_phone { position: relative; font-size: 41px; color: #ffffff; font-family: "arimoregular"; font-weight: normal; font-style: normal; }
header .header_title .title_address .title_phone span { font-family: "arimobold"; font-weight: normal; font-style: normal; }
header .header_title .title_address .title_nomenclature { display: block; text-align: right; color: #818181; font-size: 15px; font-family: "arimoregular"; font-weight: normal; font-style: normal; }
header .header_main { margin-top: 30px; *zoom: 1; }
header .header_main:after { content: " "; display: table; clear: both; }
header .header_main h1 { color: #fcc435; font-size: 35px; }
header .header_main h2 { font-family: "opensanslightregular"; font-weight: normal; font-style: normal; color: #ffffff; font-size: 24px; text-transform: uppercase; line-height: 1.3em; text-align: center; margin-bottom: 5px; }
header .header_main .header_left { position: relative; float: left; width: 613px; text-align: left; margin-top: 100px; z-index: 0; *zoom: 1; }
header .header_main .header_left:after { content: " "; display: table; clear: both; }
header .header_main .header_left .header__price { position: absolute; content: ""; background: url(../img/price_bg.png) no-repeat; width: 206px; height: 118px; top: -56px; left: -15px; z-index: -1; }
header .header_main .header_left .header__price .discount { position: relative; font-family: "arimoregular"; font-weight: normal; font-style: normal; font-size: 18px; color: #ffffff; margin-top: 20px; margin-left: 10px; display: inline-block; }
header .header_main .header_left .header__price .discount:before { content: ""; position: absolute; top: 13px; left: 0; right: 0; height: 0; border-bottom: 1px solid; }
header .header_main .header_left .header__price .price { font-family: "arimoregular"; font-weight: normal; font-style: normal; font-size: 23px; color: #ffffff; margin-left: 25px; margin-top: -15px; }
header .header_main .header_left .header__price .price span { font-family: "arimobold"; font-weight: normal; font-style: normal; font-size: 48px; }
header .header_main .header_left .about { position: absolute; font-family: "opensansregular"; font-size: 10px; color: #ffffff; width: 145px; top: 61px; left: -10px; }
header .header_main .header_left .about:after { height: 0; position: absolute; top: 61px; left: 84px; right: 6px; border-bottom: solid 1px; -moz-transform: rotate(30deg); -ms-transform: rotate(30deg); -webkit-transform: rotate(30deg); transform: rotate(30deg); content: ""; }
header .header_main .header_left .about2 { width: 250px; top: -35px; left: 215px; }
header .header_main .header_left .about2:after { -moz-transform: rotate(-20deg); -ms-transform: rotate(-20deg); -webkit-transform: rotate(-20deg); transform: rotate(-20deg); top: 45px; left: 81px; right: 85px; }
header .header_main .header_left .about3 { width: 70px; top: 25px; left: 427px; }
header .header_main .header_left .about3:after { -moz-transform: rotate(-20deg); -ms-transform: rotate(-20deg); -webkit-transform: rotate(-20deg); transform: rotate(-20deg); top: 38px; left: -7px; right: -10px; }
header .header_main .header_left .about4 { width: 90px; top: 80px; left: 510px; }
header .header_main .header_left .about4:after { -moz-transform: rotate(-20deg); -ms-transform: rotate(-20deg); -webkit-transform: rotate(-20deg); transform: rotate(-20deg); top: 44px; left: -7px; right: 5px; }
header .header_main .header_right { *zoom: 1; float: right; text-align: right; margin-top: 35px; }
header .header_main .header_right:after { content: " "; display: table; clear: both; }
header .header_main .header_right h2 { font-family: "arimobold"; font-weight: normal; font-style: normal; font-size: 35px; color: #ffffff; text-align: right; }
header .header_main .header_right h3 { font-family: "arimoregular"; font-weight: normal; font-style: normal; color: #ffffff; font-size: 18px; }
header .header_main .header_right .counter_under { position: relative; background-color: #474747; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; width: 312px; height: 145px; margin-top: 30px; margin-right: 20px; margin-bottom: 35px; }
header .header_main .header_right .button__block { display: inline-block; margin-right: 12px; }
header .header_main .header__items { *zoom: 1; clear: both; padding-top: 70px; }
header .header_main .header__items:after { content: " "; display: table; clear: both; }
header .header_main .header__items ul li { vertical-align: top; width: 290px; font-size: 14px; font-family: "arial"; font-weight: normal; font-style: normal; color: #4d4f4d; float: left; margin-right: 60px; }
header .header_main .header__items ul li:last-child { margin-right: 0; }
header .header_main .header__items .item__img { display: block; float: left; margin-right: 20px; }

.attention { background: url(../img/attention_bg.png) center center no-repeat; -moz-background-size: cover 100%; -webkit-background-size: cover 100%; background-size: cover 100%; height: 419px; text-align: center; padding-top: 60px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.attention .attention_in h2 { color: #ffffff; font-size: 32px; }
.attention .attention_in h3 { font-family: "opensanslightregular"; font-weight: normal; font-style: normal; font-size: 18px; color: #ffffff; margin-top: 10px; margin-bottom: 35px; }
.attention .attention_in h4 { font-family: "arial"; font-weight: normal; font-style: normal; font-size: 14px; color: #fbf4e5; }
.attention .attention_in h4.yellow { margin-top: 14px; color: #ffd466; }

.manual { padding-top: 50px; }
.manual .manual_in { border-bottom: solid 1px #e5c8ff; padding-bottom: 50px; *zoom: 1; }
.manual .manual_in:after { content: " "; display: table; clear: both; }
.manual h2 { color: #373f49; font-size: 32px; }
.manual h3 { font-family: "opensanssemiboldregular"; font-size: 20px; font-weight: normal; color: #373f49; text-align: center; line-height: 1em; margin-top: -3px; margin-bottom: 30px; }
.manual p { text-align: center; font-family: "arial"; font-weight: normal; font-style: normal; font-size: 14px; color: #7f7f7f; margin-bottom: 25px; }
.manual .manual-block { width: 428px; height: 128px; text-align: center; margin: 0 auto; background: #f4ede7; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; }
.manual .manual-block .button__out--download { top: 50%; -moz-transform: translateY(-50%); -ms-transform: translateY(-50%); -webkit-transform: translateY(-50%); transform: translateY(-50%); width: 346px; }
.manual .manual-block .button__out--download .button--download { width: 356px; position: relative; padding-left: 32px; text-transform: none; font-family: "opensanssemiboldregular"; font-size: 24px; padding-top: 16px; }
.manual .manual-block .button__out--download .button--download .page_ico { position: absolute; content: ""; top: 17px; left: 33px; background: url('../img/icons-s703f222a65.png') 0 0 no-repeat; width: 24px; height: 32px; }

.also h2 { color: #373f49; padding: 40px 0; }
.also .also__item { vertical-align: top; width: 315px; text-align: center; display: inline-block; margin-right: 22px; }
.also .also__item:last-child { margin-right: 0; }
.also .also__item .also__img { display: inline-block; width: 313px; height: 276px; }
.also .also__item .also__img img { -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; display: block; border: solid #ccc 1px; }
.also .also__item p { font-size: 20px; color: #373f49; font-family: "opensanssemiboldregular"; margin-top: 10px; line-height: 1.2em; }

.reviews { background: url(../img/reviews_bg.jpg) center no-repeat; -moz-background-size: cover 100%; -webkit-background-size: cover 100%; background-size: cover 100%; height: 998px; }
.reviews h2 { font-size: 35px; font-weight: normal; font-family: "arimobold"; text-align: center; color: #ffffff; padding-top: 60px; text-transform: uppercase; margin-bottom: 60px; }

.reviews { position: relative; border-bottom: 7px solid #4F2F13; }
.reviews .reviews_in { *zoom: 1; }
.reviews .reviews_in:after { content: " "; display: table; clear: both; }
.reviews .reviews_item { width: 470px; display: inline-block; margin-right: 54px; margin-bottom: 55px; *zoom: 1; }
.reviews .reviews_item:nth-child(2n+2) { margin-right: 0; }
.reviews .reviews_item:after { content: " "; display: table; clear: both; }
.reviews .reviews_item .reviews_img { float: left; }
.reviews .reviews_item .reviews_img img { width: 122px; height: 122px; -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%; }
.reviews .reviews_item .reviews_text { width: 315px; float: right; height: 220px; border-bottom: 1px dashed rgba(255, 255, 255, 0.4); }
.reviews .reviews_item .reviews_text h3 { font-size: 22px; color: #ffffff; }
.reviews .reviews_item .reviews_text h4 { font-size: 18px; color: #efd5b9; margin-bottom: 20px; }
.reviews .reviews_item .reviews_text p { font-size: 14px; color: #eeddc6; }

.thanks { box-sizing: border-box; position: relative; text-align: center; width: 690px; height: 275px; background: #ffffff; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; padding-top: 55px; border-bottom: 7px solid #4f2f13; }
.thanks h2 { font-size: 36px; color: #ab7807; font-family: "arimoregular"; font-weight: normal; font-style: normal; text-transform: uppercase; border-top: solid 1px #f4ede7; padding-top: 55px; margin-bottom: 15px; }
.thanks h3 { font-size: 19px; font-style: normal; color: #7a7066; font-family: "opensanslightregular"; font-weight: normal; font-style: normal; }
.thanks .strakes .strakes_in { width: 500px; }
.thanks .strakes .center { left: 125px; }
