// Normally mainpage styles 
//+font('Conv_SegoePrintRegular', 'SegoePrintRegular')


.top
  height: 50px
  background: url(../img/top_bg.png) no-repeat
  position: fixed
  width: 100%
  z-index: 999
  top: 0
  bottom: auto
  left: 0
  .top_in
    @extend %in
    +clr


  nav
    float: left
    ul
      font-size: 12px
      padding: 0
      li
        display: inline-block
        position: relative
        +arimo
        float: left
        padding: 0
        color: #dfdfdf
        line-height: 1em
        text-transform: uppercase
        border-right: 1px solid rgba(182,57,15, .2)
        border-left: 1px solid rgba(82,24,6, .2)
        &:last-child
          &:before
            position: absolute
            content: ""
            right: -2px
            border-right: 1px solid rgba(82,24,6, .2)
            top: 0
            height: 100%
        &:first-child
          &:before
            position: absolute
            content: ""
            left: -2px
            border-right: 1px solid rgba(182,57,15, .2)
            top: 0
            height: 100%
        a
          display: block
          line-height: 50px
          height: 50px
          padding: 0 33px
        &.is-active
          background: rgba(#000, .18)
          color: #ffffff

        &:hover
          background: rgba(#000, .18)
          color: #ffffff


        a
          text-decoration: none
          color: inherit

header
  background: url(../img/header_bg.jpg) center no-repeat
  +background-size(cover)
  height: 966px
  +box
  margin-top: 50px
  .header_in
    @extend %in
    +clr
    position: relative



  .header_title
    +clr
    border-bottom: solid 1px rgba(#fff,.2)
    padding-bottom: 20px
    .title_logo
      float: left
      color: #fafafa
      border-right: solid 1px rgba(#fff, .2)
      padding-right: 45px
      margin-top: 35px
      .logo_main
        font-size: 45px
        font-family: 'archiveregular'
        line-height: 1em
        margin-top: -15px
        +osl
      span
        font-size: 52px
        display: block
        line-height: .8em
        text-transform: uppercase
        font-family: 'OpenSansExtraboldItalic'
        font-style: italic
    .title_about
      display: inline-block
      +arimo
      float: left
      margin-left: 40px
      width: 150px
      font-size: 14px
      color: #ffffff
      margin-top: 55px
    .title_address
      margin-top: 35px
      float: right
      .title_phone
        position: relative
        font-size: 41px
        color: #ffffff
        +arimo
        span
          +arimob

      .title_nomenclature
        display: block
        text-align: right
        color: #818181
        font-size: 15px
        +arimo
  .header_main
    margin-top: 30px
    +clr
    h1
      color: #fcc435
      font-size: 35px
    h2
      +osl
      color: #ffffff
      font-size: 24px
      text-transform: uppercase
      line-height: 1.3em
      text-align: center
      margin-bottom: 5px
    .header_left
      position: relative
      float: left
      width: 613px
      text-align: left
      margin-top: 100px
      z-index: 0
      +clr
      .header__price
        position: absolute
        content: ""
        background: url(../img/price_bg.png) no-repeat
        width: 206px
        height: 118px
        top: -56px
        left: -15px
        z-index: -1
        .discount
          position: relative
          +arimo
          font-size: 18px
          color: #ffffff
          margin-top: 20px
          margin-left: 10px
          display: inline-block
          &:before
            content: ''
            position: absolute
            top: 13px
            left: 0
            right: 0
            height: 0
            border-bottom: 1px solid
        .price
          +arimo
          font-size: 23px
          color: #ffffff
          margin-left: 25px
          margin-top: -15px
          span
            +arimob
            font-size: 48px
      .about
        position: absolute
        font-family: 'opensansregular'
        font-size: 10px
        color: #ffffff
        width: 145px
        top: 61px
        left: -10px
        &:after
          height: 0
          position: absolute
          top: 61px
          left: 84px
          right: 6px
          border-bottom: solid 1px
          +transform(rotate(30deg))
          content: ""
      .about2
        width: 250px
        top: -35px
        left: 215px
        &:after
          +transform(rotate(-20deg))
          top: 45px
          left: 81px
          right: 85px
      .about3
        width: 70px
        top: 25px
        left: 427px
        &:after
          +transform(rotate(-20deg))
          top: 38px
          left: -7px
          right: -10px
      .about4
        width: 90px
        top: 80px
        left: 510px
        &:after
          +transform(rotate(-20deg))
          top: 44px
          left: -7px
          right: 5px





    .header_right
      +clr
      float: right
      text-align: right
      margin-top: 35px
      h2
        +arimob
        font-size: 35px
        color: #ffffff
        text-align: right
      h3
        +arimo
        color: #ffffff
        font-size: 18px
      .counter_under
        position: relative
        background-color: rgb(71,71,71)
        +border-radius(5px)
        width: 312px
        height: 145px
        margin-top: 30px
        margin-right: 20px
        margin-bottom: 35px
      .button__block
        display: inline-block
        margin-right: 12px

    .header__items
      +clr
      clear: both
      padding-top: 70px

      ul

        li
          vertical-align: top
          width: 290px
          font-size: 14px
          +arial
          color: #4d4f4d
          float: left
          margin-right: 60px
          &:last-child
            margin-right: 0

      .item__img
        display: block
        float: left
        margin-right: 20px

.attention
  background: url(../img/attention_bg.png) center center no-repeat
  +background-size(cover)
  height: 419px
  text-align: center
  padding-top: 60px
  +box
  .attention_in
    @extend %in
    h2
      color: #ffffff
      font-size: 32px
    h3
      +osl
      font-size: 18px
      color: #ffffff
      margin-top: 10px
      margin-bottom: 35px
    h4
      +arial
      font-size: 14px
      color: #fbf4e5
      &.yellow
        margin-top: 14px
        color: #ffd466

.manual
  padding-top: 50px

  .manual_in
    @extend %in
    border-bottom: solid 1px rgb(229,200,291)
    padding-bottom: 50px
    +clr
  h2
    color: #373f49
    font-size: 32px
  h3
    font-family: 'opensanssemiboldregular'
    font-size: 20px
    font-weight: normal
    color: #373f49
    text-align: center
    line-height: 1em
    margin-top: -3px
    margin-bottom: 30px
  p
    text-align: center
    +arial
    font-size: 14px
    color: #7f7f7f
    margin-bottom: 25px
  .manual-block
    width: 428px
    height: 128px
    text-align: center
    margin: 0 auto
    background: rgb(244,237,231)
    +border-radius(3px)
    .button__out--download
      top: 50%
      +transform(translateY(-50%))
      width: 346px
      .button--download
        width: 356px
        position: relative
        padding-left: 32px
        text-transform: none
        font-family: 'opensanssemiboldregular'
        font-size: 24px
        padding-top: 16px

        .page_ico
          position: absolute
          content: ""
          top: 17px
          left: 33px
          +s(page_ico)

.also
  .also_in
    @extend %in
  h2
    color: #373f49
    padding: 40px 0
  .also__item
    vertical-align: top
    width: 315px
    text-align: center
    display: inline-block
    margin-right: 22px
    &:last-child
      margin-right: 0
    .also__img
      display: inline-block
      width: 313px
      height: 276px
      img
        +border-radius(5px)
        display: block
        border: solid #ccc 1px
    p
      font-size: 20px
      color: #373f49
      font-family: 'opensanssemiboldregular'
      margin-top: 10px
      line-height: 1.2em


.reviews
  background: url(../img/reviews_bg.jpg) center no-repeat
  +background-size(cover)
  height: 998px
  h2
    font-size: 35px
    font-weight: normal
    font-family: 'arimobold'
    text-align: center
    color: #ffffff
    padding-top: 60px
    text-transform: uppercase
    margin-bottom: 60px
.reviews
  position: relative
  border-bottom: 7px solid #4F2F13
  .reviews_in
    @extend %in
    +clr
  .reviews_item
    width: 470px
    display: inline-block
    margin-right: 54px
    margin-bottom: 55px
    &:nth-child(2n+2)
      margin-right: 0

    +clr
    .reviews_img
      float: left
      img
        width: 122px
        height: 122px
        +border-radius(50%)



    .reviews_text
      width: 315px
      float: right
      height: 220px
      border-bottom: 1px dashed rgba(#ffffff, .4)
      h3
        font-size: 22px
        color: #ffffff
      h4
        font-size: 18px
        color: #efd5b9
        margin-bottom: 20px
      p
        font-size: 14px
        color: #eeddc6


.tech
  background: url(../img/tech_bg.jpg) center center no-repeat
  +background-size(cover)
  height: 983px
  +clr

  .tech_in
    @extend %in
    +clr
  .tech__top
    padding-top: 55px
    float: left
  .tech__title
    color: #ffffff
    text-transform: uppercase
    +arimob
    font-size: 22px
    +text-shadow(0 2px 2px black)

  .tech--half
    width: 494px
    float: left
    margin-right: 10px
    &:last-child
      margin-right: 0
  .tech__list
    margin-top: 30px
    li
      padding-left: 25px
      position: relative
      margin-bottom: 6px

      +arial
      font-size: 15px
      color: #ffffff
      &:before
        position: absolute
        content: ""
        top: 6px
        left: 0
        width: 8px
        height: 8px
        +border-radius(50%)
        background: rgb(251,186,46)
  .tech--yellow
    font-size: 16px
    color: #fbba2e
    +osl
    margin-top: 35px
  &__accessories
    +clr
    padding-top: 45px
    clear: both
    h2
      font-size: 32px
      color: white
    .acc__img
      margin-top: 70px
      float: left
      width: 459px
      height: 387px
      img
        display: block
    .acc__text
      float: left
      margin-left: 50px
      width: 485px
      h4
        margin-top: 10px
        +osl
        font-size: 13px
        color: #929292
  .tech--grey
    color: #929292
    margin-top: 64px
  .tech__list--other
    margin-top: 20px
    li
      padding-left: 30px
      margin-bottom: 4px
      &:before
        top: 3px
        +s(list_ico)












.bottom

footer


.thanks
  box-sizing: border-box
  position: relative
  text-align: center
  width: 690px
  height: 275px
  background: #ffffff
  +border-radius(5px)
  padding-top: 55px
  border-bottom: 7px solid rgb(79,47,19)
  h2
    font-size: 36px
    color: #ab7807
    +arimo
    text-transform: uppercase
    border-top: solid 1px rgb(244,237,231)
    padding-top: 55px
    margin-bottom: 15px
  h3
    font-size: 19px
    font-style: normal
    color: #7a7066
    +osl
  .strakes
    .strakes_in
      width: 500px
    .center
      left: 125px